<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">OA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/home/my-posts">My Posts</a>
            </li>
        </ul>
        <div class="d-flex align-items-center justify-content-center">
            <div>
                <a routerLink="/home/create-post" class="btn btn-outline-secondary my-2 my-sm-0 mr-2 text-white">+
                    Create Post</a>
            </div>
            <div class="dropdown" *ngIf="user">
                <a class="dropdown-toggle text-white" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-expanded="false" (click)="changeDropdownStatus()">
                    Welcome, {{user}}
                </a>
                <div class="dropdown-menu" [class.show]="dropdownStatus" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </div>
        </div>

    </div>
</nav>