<form [formGroup]="filterForm">
<div class="d-flex filter-box align-items-center">
    <div>
        <i class="fa fa-filter mr-2"></i>
        <span class="filter-title">Filter</span>
    </div>
   
        <div class="col-md-3 col-xs-12">
            <div class="input-group input-group-default">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default"><i
                            class="fa fa-file-signature"></i></span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                    placeholder="Post Title" formControlName="title">
            </div>
        </div>
        <div class="col-md-3 col-xs-12">
            <div class="input-group input-group-default">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa fa-user"></i></span>
                </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-default"
                    placeholder="Publisher" formControlName="publisher">
            </div>
        </div>
        <div class="col-md-3 col-xs-12 mr-2">
              <select class="custom-select" formControlName="dateSort">
                <option value="">Select</option>
                <option value="ascending">Old to New</option>
                <option value="descending">New to Old</option>
              </select>
        </div>
    
    <div class="btn btn-dark ml-2" (click)="filter()">
        <i class="fa fa-search"></i>
        Search
    </div>
</div>
</form>