.not-found-text{
    font-size: 18px;
    font-weight: 400;
    color: #6d6e6e;
}
a {
    color: #18497a;
    text-decoration: underline;
    background-color: transparent;
}
.publish-date{
    font-size: 13px;
}
.read-by{
    border-radius: 6px;
    font-size: 13px;
    color: #40556c;
    padding: 4px;
}
