.post-card{
    min-height: 400px;
}
.status{
    margin-right: 8px;
    color: green;
}
.publish-date{
    font-size: 13px;
}
.read-by{
    border-radius: 6px;
    font-size: 13px;
    color: #40556c;
    padding: 4px;
}
.detail{
    opacity: 1 !important;
}
.additional-info{
    background-color: #b1c2d3;
    border-radius: 10px;
    padding: 3px;
    font-size: 13px;
}