body{
    background: white !important;
}
.btn.btn-primary{
    background-color :#343a40 ;
    border-color :#343a40 ;
}
a{
    color: #666666;
    text-decoration: underline;
}
@media only screen and (max-width: 500px) {
	.register-image {
		display: none;
	}
}